# ==========================
# Server / App Config
# ==========================
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ==========================
# Email (Nodemailer)
# ==========================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_AUTH_USER=your_email@gmail.com
EMAIL_AUTH_PASS=your_app_password

# ==========================
# Other Config (optional)
# ==========================
# Ví dụ bạn muốn admin luôn nhận mail khi có order
ADMIN_EMAIL=your_email@gmail.com
