@font-face {
  font-family: "Alpino";
  src: url("/fonts/Alpino-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-alpino: "Alpino", sans-serif;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

body {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next,
main {
  max-width: 100%;
  overflow-x: hidden;
}

@supports (overflow: clip) {
  html,
  body {
    overflow-x: clip;
  }
}
